<tr></tr><%= div_for station do %>
	<div id="station">
		<%= image_tag station.avatar.url(:thumb) %>
		<ul>
      		<li>Supplier <%= station.supplier %></li>
      		<li>Product <%= station.product %></li>
	  		<li>Model <%= station.model%></li>
	 		<li>Price <%= number_to_currency(station.price, :unit => "€")%></li>
      		<li class="button_a"><%= link_to 'Show', station %></li>
      		<li class="button_a"><%= link_to 'Edit', edit_station_path(station) %></li>
      		<li class="button_a"><%= link_to 'Destroy', station, method: :delete, data: { confirm: 'Are you sure?' } %></li>
			<li class="compare", class="button_a">Compare</li>
    	</ul>
	</div>
<%end%>
