<ul>
	<li><p id="notice"><%= notice %></p></li>
    <li><%= image_tag @station.avatar.url(:medium) %></li>
	<li><%=@station.supplier%></li>
	<li><%=@station.product%></li>
	<li><%=@station.model%></li>
	<li><%=@station.price%></li>
</ul>	
<ul>
	<li class="button"><%= link_to 'Edit', edit_station_path(@station) %></li> |
	<li class="button"><%= link_to 'Back', stations_path %></li>
</ul>