<ul>
	<p id="notice"><%= notice %></p>

	<%=@station.supplier%>
	<%=@station.product%>
	<%=@station.model%>
	<%=@station.price%>
</ul>	
<ul>
	<li><%= link_to 'Edit', edit_station_path(@station) %></li> |
	<li><%= link_to 'Back', stations_path %></li>
</ul>